@font-face {
    font-family: 'Circe';
    src: url(#{$fonts-path} + '/Circe-Light.eot');
    src: local('Circe Light'), local('Circe-Light'),
        url(#{$fonts-path} + '/Circe-Light.eot?#iefix') format('embedded-opentype'),
        url(#{$fonts-path} + '/Circe-Light.woff2') format('woff2'),
        url(#{$fonts-path} + '/Circe-Light.woff') format('woff'),
        url(#{$fonts-path} + '/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(#{$fonts-path} + '/Circe-ExtraBold.eot');
    src: local('Circe Extra Bold'), local('Circe-ExtraBold'),
        url(#{$fonts-path} + '/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url(#{$fonts-path} + '/Circe-ExtraBold.woff2') format('woff2'),
        url(#{$fonts-path} + '/Circe-ExtraBold.woff') format('woff'),
        url(#{$fonts-path} + '/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Circe';
    src: url(#{$fonts-path} + '/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url(#{$fonts-path} + '/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url(#{$fonts-path} + '/Circe-Regular.woff2') format('woff2'),
        url(#{$fonts-path} + '/Circe-Regular.woff') format('woff'),
        url(#{$fonts-path} + '/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(#{$fonts-path} + '/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
        url(#{$fonts-path} + '/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url(#{$fonts-path} + '/Circe-Bold.woff2') format('woff2'),
        url(#{$fonts-path} + '/Circe-Bold.woff') format('woff'),
        url(#{$fonts-path} + '/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}